body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

#utm-image {
  width: 50%;
}
#image-container {
  display: flex;
  flex-wrap: wrap;
  height: 140px;
  justify-content: center;
}

#image-container img {
  height: 80%;
  margin: 0 2px;
  transition-duration: 0.8s;
  transition-property: transform;
}

#image-container img:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

#click-me-btn-container {
  margin: 1rem;
}

#click-me-btn:hover {
  cursor: pointer;
}
